@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        "Форум пенсионеров";
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Играйте с нами</h2>
        <p>
            Футбол футбол футбол игра миллионов
        </p>
        <p><a class="btn btn-default" @*href="~/Controllers/CommentController.cs"*@>@Html.ActionLink("Обсуждаем", "Chat", "Comment") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Все для женщин</h2>
        <p>Доомводство - это искусство</p>
        <p><a class="btn btn-default" @*href="~/Controllers/CommentController.cs"*@>@Html.ActionLink("Обсуждаем", "Chat", "Comment") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Увлеченным фанатам</h2>
        <p>Если вы рыбак - это к нам</p>
        <p><a class="btn btn-default" @*href="~/Controllers/CommentController.cs"*@>@Html.ActionLink("Обсуждаем", "Chat", "Comment") &raquo;</a></p>
    </div>
</div>